@(location: Form[CreateLocationForm], user_id: Long, board_id: Long)(implicit request: RequestHeader, messages: Messages)

  @import helper._

  @main("New Location") {

    <h3>My Location - Options</h3>
    <a href="@routes.MainController.getLocations(user_id, board_id)">My Locations</a>
    <a href="@routes.MainController.updateLocations(user_id, board_id)">Update Locations</a>

    <h3>New Location</h3>
    @form(CSRF(routes.MainController.addLocation())) {
      <input name="id" value="" placeholder="Location ID"/>
      <input type="hidden" name="board_id" value="@board_id" />

      <div class="buttons">
        <input type="submit" value="Add Location"/>
      </div>
    }

    <h3>Delete Location</h3>
    @form(CSRF(routes.MainController.deleteLocation())) {
      <input name="id" value="" placeholder="Location ID"/>
      <input type="hidden" name="board_id" value="@board_id" />

      <div class="buttons">
        <input type="submit" value="Delete Location"/>
      </div>
    }

  }
